<div class="card">
    <img id="cardImg" [src]="img" class="card-img-top" alt="listing image">
    <div class="card-body">
        <h5 class="card-title">{{ props.listing.title }}</h5>
        <small><p><strong>
            Price: </strong>${{ props.listing.price }}</p>
        </small>
        <small>
            <p><strong>List date: </strong>{{ props.listing.listDate }}</p>
        </small>
        <small>
            <p>
                <strong>Seller: </strong>
                {{ props.name ? props.name : props.listing.account.firstName + " " + props.listing.account.lastName.charAt(0) + "." }}
            </p>
        </small>
        <p class="card-text">
            {{ props.listing.description.length > 63 ? props.listing.description.slice(0, 63) + "..." : props.listing.description }}
        </p>
        <div class="d-flex flex-row">
            <a href="#" class="btn btn-primary">Details</a>
            <a *ngIf="props.name" id="editBtn" [routerLink]="'/edit-listing/' + props.listing.listingId" class="btn btn-warning">Edit</a>
            <a *ngIf="props.name" id="deleteBtn" (click)="deleteListing()" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>