<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Sign In
</button>
  
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm">

                    <div class="mb-3 form-floating">
                        <input class="form-control" id="floatingEmail" type="email" placeholder="Enter email" formControlName="email">
                        <label for="floatingEmail">Enter Email Address</label>
                        <div *ngIf="errors.email" class="alert alert-danger" role="alert">{{ errors.email }}</div>
                    </div>

                    <div class="mb-3 form-floating">
                        <input class="form-control" id="floatingPassword" [type]="showPass ? 'text' : 'password'" placeholder="Enter password" formControlName="password">
                        <label for="floatingPassword">Enter Password</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="showPassCheckbox" formControlName="showPass">
                            <label class="form-check-label" for="showPassCheckbox">Show Password</label>
                        </div>
                        <div *ngIf="errors.password" class="alert alert-danger" role="alert">{{ errors.password }}</div>
                    </div>

                    <button (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>

                    <div *ngIf="errors.signIn" class="alert alert-danger" role="alert">{{ errors.signIn }}</div>

                </form>
            </div>
        </div>
    </div>
</div>